*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  min-width: 1140px;
  column-gap: 30px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  column-gap: 5px;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
  font-family: inherit;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding-top: 2px;
}

.content__list-item {
  padding: 0px 3px 0px 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 196px;
  line-height: 100%;
}

.content__video-card-description {
  line-height: 16.2px;
  max-width: 196px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 6px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  object-fit: cover;
  object-position: center;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-size: inherit;
  background: none;
  padding: 6px 0px 6px 0px;
  height: 34px;
  font-weight: 700;
  font-family: inherit;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: calc(100% - 6px);
  margin: auto;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
